<div style="background-color:skyblue; width:30%; height:200px; text-align:center; border:3px solid blue;">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'md-form' }) do |f| %>
  <div class="md-form">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', :style=>"border: 1px solid blue;" %>
  </div>

  <div class="md-form">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', :style=>"border: 1px solid blue;" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="md-form">
      <div class="form-check">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div>
<% end %>

</div>
<%= render "devise/shared/links" %>


